* {
    padding: 0px;
    margin: 0px;
}

body {
  background: linear-gradient(to right, #3a0ca3, #7209b7, #b5179e);





}

#container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;

}

#input-tarefa {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #dcdcdcdc;
}

.form {
    background-color: #000;
    padding: 30px;
    border-radius: 10px;
}

#caixaTarefas {

    margin-top: 100px;
    background-color: #dcdcdc;
    padding: 20px;

}

.bold {
    font-weight: bolder;
}

.border-custom {
    border-bottom: 2px solid #000;
}

.margin-custom {
    margin-left: 100px;
}



/* media queries*/


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}